body {
    background-color: #ffffff;
    font-family: sans-serif arial, Helvetica, sans-serif;

}

header {
    background-color: rgb(17, 36, 53);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    text-transform: capitalize;
    font-size: 16px;
    border-radius: 0px 10px 0px 10px;
}

header:hover {
    box-shadow: 0px 10px 10px rgba(0, 3, 0, 0.5);
    transition: 0.5s;
    transform: scale(1.02);
}

.logo {
    width: 120px;
    height: 120px;
    cursor: pointer;
    padding-top: 0%;
    padding-left: 20px;
}

.logo:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.haeding-1 {
    padding-top: 10px;
    font-family: sans-serif;
    color: whitesmoke;
}

.nav-link ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-right: 20px;
}

.nav-link ul li a {
    color: white;
    text-decoration: none;
    padding: 10px ;
}

.nav-link ul li a:hover {
    background-color: rgb(97, 233, 192);
    color: black;
    border-radius: 5px;
}

marquee {
    background-color: rgb(134, 132, 11);
    color: white;
    padding: 5px;
    margin: 15px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 50px;

}
.video{
    width: 100%;
    height: 600px;
    padding: 10px;
    margin: 10px;
   
    
}
.benner {
    width: 100%;
    height: 600px;
    padding: 10px;
    margin: 10px;
}

.bb {
    background-color: rgb(17, 36, 53);
    color: white;
    padding: 10px 30px;
    margin: 10px;
    position: absolute;
    top: 210%;
    left: 45%;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    text-align: center;
}

.card {
    width: 200px;
    height: 365px;
    background-color: rgb(238, 233, 233);
    padding: 3px ;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 3, 0, 0.5);
}

.ch {
    font-family: helvetica;
    font-size: 18px;
}

.cb {
    background-color: rgba(0, 3, 0, 0.5);
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    font-weight: 400px;
}

.card:hover {
    background-color: rgb(97, 233, 192);
    color: black;
    transform: scale(1.2);
    transition: 0.5s;
}

footer {
    background-color: rgb(17, 36, 53);
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;

}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;

}

.footer-social-icons a {
    color: white;
    font-size: 24px;

}

.footer-nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 900px;
}

.footer-boottom {
    margin-bottom: 0%;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700px;
    background-color: rgb(0, 0, 0);


}